<footer class="footer border-top border-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>BCBC</h5>
        <p class="footer-text">L'excellence sur et en dehors du terrain.</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Liens Rapides</h5>
        <ul class="footer-links">
          <li><a href="/">Accueil</a></li>
          <li><a href="/schedule">Calendrier</a></li>
          <li><a href="/players">Joueurs</a></li>
          <li><a href="/partners">Partenaires</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Suivez-Nous</h5>
        <div class="social-links">
          <a href="#" class="social-icon" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="social-icon" aria-label="Twitter">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="social-icon" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="social-icon" aria-label="YouTube">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="footer-divider">
    <div class="row">
      <div class="col-12 text-center">
        <p class="copyright">&copy; {{ currentYear }} BCBC Basketball Team. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>