<!-- Header principal -->
<nav class="navbar navbar-dark border-bottom border-black">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <span class="brand-text alt-font">BOIS-COLOMBES BASKET</span>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Header secondaire - Navigation -->
<nav
  class="d-block navbar-sub py-2 navbar-dark border-bottom border-black"
  [class.mobile-open]="!isMenuCollapsed"
>
  <div class="container">
    <ul class="nav-list">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMenuCollapsed = true"
          >Accueil</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/schedule"
          routerLinkActive="active"
          (click)="isMenuCollapsed = true"
          >Calendrier</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/players"
          routerLinkActive="active"
          (click)="isMenuCollapsed = true"
          >Joueurs</a
        >
      </li>
    </ul>
  </div>
</nav>
