@import '../../../variables';

.schedule-page {
  min-height: $section-min-height;

  .schedule-table {
    overflow: hidden;

    thead {
      background-color: var(--primary-color);
      color: $text-white;

      th {
        padding: $font-size-2xl $spacing-md;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-wider;
        font-size: $font-size-sm;
        border: none;
      }
    }

    tbody {
      tr {
        td {
          vertical-align: middle;
          border-bottom: 1px solid $border-light;
          font-size: $font-size-sm;
            color: var(--text-color);

          &.game-date {
            width: 180px;
            font-size: .8rem;
            color: #333;
          }

          &.game-opponent {
            width: 250px;

            &.bcbc{
              color: var(--primary-color);
              font-weight: bold;
            }
          }

          &.game-score {
            width: 150px;

            .bcbc{
              color: var(--primary-color);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
