<div class="schedule-page">
  <div class="container">
    <h1 class="fs-3 fw-medium text-white my-4">Calendrier saison 2025/2026</h1>
    <table class="table schedule-table">
      <tbody>
        @for (game of allGames; track game.date) {
          <tr [class.upcoming-row]="game.date === 'À venir'">
            <td class="game-date">
              <strong [title]="game.league">{{ game.league }}</strong
              ><br />
              {{ game.date }}
            </td>
            <td
              class="game-opponent text-end"
              [ngClass]="{ bcbc: game.location === GameLocation.HOME }"
            >
              {{ game.location === GameLocation.HOME ? 'Bois-Colombes' : game.opponent }}
            </td>

            <td class="game-score text-center">
              @if (game.scoreBCBC && game.scoreOpponent) {
                @if (game.location === GameLocation.HOME) {
                  <span class="bcbc">{{ game.scoreBCBC }}</span> - {{ game.scoreOpponent }}
                } @else if (game.location === GameLocation.AWAY) {
                  {{ game.scoreOpponent }} - <span class="bcbc">{{ game.scoreBCBC }}</span>
                }
              } @else {
                -
              }
            </td>
            <td class="text-start" [ngClass]="{ bcbc: game.location === GameLocation.AWAY }">
              {{ game.location === GameLocation.HOME ? game.opponent : 'Bois-Colombes' }}
            </td>
            <td>
              @if (game.scoreBCBC && game.scoreOpponent) {
                <span class="status-badge" [ngClass]="getStatusClass(game)">{{
                  game.scoreBCBC > game.scoreOpponent ? 'V' : 'D'
                }}</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
