on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: bitovi/github-actions-angular-to-github-pages@v1.0.0
      with:
        checkout: true
        install_command: npm i
