on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    steps:
    - uses: bitovi/github-actions-angular-to-github-pages@v1.0.0
